@media screen and (min-width: 320px) {
  html {
    font-size: 21.33333333px;
  }
}
@media screen and (min-width: 360px) {
  html {
    font-size: 24px;
  }
}
@media screen and (min-width: 375px) {
  html {
    font-size: 25px;
  }
}
@media screen and (min-width: 400px) {
  html {
    font-size: 26.66666667px;
  }
}
@media screen and (min-width: 384px) {
  html {
    font-size: 25.6px;
  }
}
@media screen and (min-width: 540px) {
  html {
    font-size: 36px;
  }
}
@media screen and (min-width: 720px) {
  html {
    font-size: 48px;
  }
}
@media screen and (min-width: 750px) {
  html {
    font-size: 50px;
  }
}
* {
  box-sizing: border-box;
}
html,
body {
  min-width: 320px;
  max-width: 750px;
  margin: 0 auto;
  padding: 0;
  font-family: 'Microsoft Yahe';
  background: #f2f2f2;
  color: #282828;
  position: relative;
  min-height: 100%;
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
.warp {
  width: 100%;
  min-height: 100vh;
  background-image: url("../img/login_bg.png");
  background-size: 15rem 26.68rem;
  background-repeat: no-repeat;
  background-attachment: fixed;
  position: relative;
}
.warp .warp_form {
  padding-top: 2rem;
  text-align: center;
}
.warp .warp_form .logo {
  margin-left: 2.3rem;
  width: 10.4rem;
  height: 12.24rem;
}
.warp .warp_form .logo img {
  width: 100%;
  height: 100%;
}
.warp .warp_form input {
  line-height: 1.6rem;
  height: 1.6rem;
  width: 8rem;
  text-align: center;
  border-radius: 20px;
  padding: 5px 10px;
  border: none;
  margin-top: 0.8rem;
  font-size: 0.5rem;
}
.warp .warp_form button {
  line-height: 1.6rem;
  height: 1.6rem;
  text-align: center;
  border-radius: 20px;
  width: 8rem;
  border: none;
  background: #f8de86;
  margin-top: 0.8rem;
  color: #a60601;
  font-size: 0.6rem;
}
.showModle {
  width: 7rem;
  height: 2rem;
  color: #ffff;
  text-align: center;
  line-height: 2rem;
  border-radius: 0.1rem;
  background-color: rgba(0, 0, 0);
  animation: 2s MyModel;
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 0.4rem;
  z-index: 1000;
}
