<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>安徽竣川集团年会参会签到</title>
    <link rel="stylesheet" href="css/login.css">
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script src="js/vue.min.js"></script>
    <script src="./js/http.js"></script>
</head>

<body>
    <div class="warp" id="warp">
        <div class="warp_form">
            <div class="logo"><img src="./img/logo.png" alt="" srcset=""></div>
            <div><input type="text" placeholder="输入姓名" v-model="name" ></div>
            <div><input type="text" placeholder="输入手机号" v-model="mobile"></div>
            <div><button @click="submit">提交</button></div>
        </div>
                <!-- 提示框 -->
                <div class="showModle"></div>
    </div>
</body>

<script>
    var vue = new Vue({
        el: '#warp',
        data: {
            name: '',
            mobile: ''
        },
        methods: {
            submit() {
                if (this.name && this.mobile) {
                    let Url = "https://nianhuiapi.anhuiqingyou.com/qiandao"
                    let params = {
                        name: this.name,
                        mobile: this.mobile
                    }
                    axiosPostRequst(Url, params).then(res => {
                        res = typeof res == "string" ? JSON.parse(res) : res;
                        console.log(res)
                        if(res.code===0){
                            showModel("提交成功") 
                            this.name='';
                            this.mobile=''
                        }else{
                            showModel("您已签到，请耐心等待抽奖！")
                            this.name='';
                            this.mobile=''
                        }
                    })
                } else {
                    showModel("姓名和手机号都得填写！")
                }
            }
        },

    })
</script>

</html>